.channelContainer {
    display: flex;
    flex-direction: column;
  
}

.singleChannel div{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.channelContainer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.selected{
    background-color:lightskyblue;
    color:black;
}
