.channelContainer {
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.singleChannel div{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    
}

.channelContainer > div {
    width: auto;
    font-size: 12px;
}

.selected{
    background-color:lightskyblue;
    color:black;
}