[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-migrate = "*"
pylint = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
rope = "*"
pycodestyle = "*"
alembic = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
