.messageBar {
  background-color: #02001b;
  color: lightgrey;
  width: fit-content;
  overflow: hidden;
  height: 100%;
  width: 250px;
}
.messageBar > div > div {
  padding-left: 10px;
}

.messageBar .channels div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 10px;
}

.channels div i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.channels div:hover {
  cursor: pointer;
}
.channels div > p {
  margin: 0px;
}
.channels i:hover {
  background-color: rgba(173, 173, 173, 0.8);
}
.side {
  transform: rotate(-90deg);
}
.title button {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  border: none;
  font-size: 15px;
}
.orgeditdiv {
  display: flex;
  flex-direction: column;
}

.title h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
