.messageBar{
    background-color: #3f0e40;
    border-right: 1px solid rgb(85, 85, 85);
    color:lightgrey;
    width:fit-content;
    overflow:hidden;
    height:100%;
    width:250px;
}
.messageBar > div > div{
    padding-left:10px;
}

.orgeditdiv {
    display: flex;
    flex-direction: column;
}

