nav{
    display:flex;
    justify-content:space-between;
    background-color:#aaabc4;
    height:130px;
}
h1{
    width:300px;
    font-size:50px;
    margin-top: 20px;
    margin-bottom:20px;
}
nav > div{
    padding-left:50px;
    padding-top:30px;
    padding-right:50px;
}
button{
    cursor: pointer;
}
nav button{
    padding:12px;
    background-color:transparent;
    border: 1px solid #000807;
}
nav .rightNav button{
    margin-left:20px;
}
.rightNav #signin{
    border:none;
    border-radius:5px;
    color:white;
    background-color: rgb(25, 33, 100);
    transition-property:opacity;
    transition-duration: 0.5s;
}
.rightNav #signin:hover{
    opacity:0.8;
}
.rightNav #search{
    border-radius:5px;
    transition-property:background-color;
    transition-duration: 0.5s;
}
.rightNav #search:hover{
    background-color:rgb(25, 33, 100);
    color:white;
}
nav .leftNav{
display:flex;
align-items:flex-start;
}
nav h2{
    margin-top:0px;
    margin-left:10px;
    font-size:30px;
}
nav img{
    width:35px;
    height:35px;
    flex-grow:1;
}
.titleContent{
    width:500px;
    margin-left:50px;
}
.titleContent p{
    margin:0px;
    margin-bottom:20px;
}
.titleContent button{
    color:white;
    padding:15px;
    width:150px;
    font-size:15px;
    background-color:rgb(25, 33, 100);
    border:none;
    border-radius:5px;
    transition-property:opacity;
    transition-duration: 0.5s;
}
.titleContent button:hover{
    opacity:0.8;
}
.wrapper{
    color:#000807;
    position:fixed;
    height:100%;
    width:100%;
    background-color:#A2A3BB;
}

