.searchbar {
    background-color:#38373c;
    color:rgb(212, 212, 212);
    padding: 5px;
    margin: 5px;
    width: 200%;
    border-radius:10px;
}

.member {
    background-color: green;
}

.membercontainer {
    position:fixed;
    background-color: green;
    margin-top: 100px;
    color: white;
}
