.auth{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
}
.auth form{
    display:flex;
    flex-direction:column;
}
.auth form > input{
    border:1px solid black;
    margin-bottom:20px;
    height:30px;
    width:400px;
    border-radius:5px;
    padding:10px;
    font-size:16px;
}
.auth form > button {
    border:none;
    height:40px;
    width:420px;
    color:white;
    background-color: rgb(25, 33, 100);
    border-radius:5px;
    transition-property:opacity;
    transition-duration:0.5s;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.auth form > button:hover{
    opacity:0.8;
}
.auth p{
    font-size:50px;
    margin:20px;
}
.auth a{
    margin-bottom:20px;
    color:black;
    text-decoration:none;
    font-weight:bold;
}
.auth a:hover{
    color: white;
}
.auth img{
    width:35px;
    height:35px;
}
.namelogo{
    display:flex;
}
.namelogo h2{
    margin-top:4px;
    margin-left:5px;
}

.authwrapper{
    display:flex;
    justify-content:center;
}

.errors {
    list-style: none;
    color: black;
    background-color: rgba(255, 0, 0, 0.462);
    border: 1px solid rgba(197, 98, 98, .6);
    border-radius: 10px;
    padding: 10px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.auth ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    max-width: 400px;
}
