nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 130px;
}
h1 {
  width: 300px;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}
nav > div {
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
button {
  cursor: pointer;
}
nav button {
  padding: 12px;
  background-color: transparent;
  border: 1px solid #000807;
}
nav .rightNav button {
  margin-left: 20px;
}
.rightNav #signin {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(25, 33, 100);
  transition-property: opacity;
  transition-duration: 0.5s;
}
.rightNav #signin:hover {
  opacity: 0.8;
}
nav .leftNav {
  display: flex;
  align-items: flex-start;
}
nav h2 {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 30px;
}
nav img {
  width: 35px;
  height: 35px;
  flex-grow: 1;
}
.titleContent {
  width: 400px;
  margin-left: 50px;
}
.titleContent p {
  margin: 0px;
  margin-bottom: 20px;
}
.titleContent button {
  padding: 15px;
  width: 100%;
  font-size: 15px;
  color: #fff;
  background-color: rgb(25, 33, 100);
  border: none;
  border-radius: 3px;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.titleContent button:hover {
  opacity: 0.8;
}
.wrapper {
  color: black;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.midc {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.aboutC {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 40px;
}
.aboutC a {
  color: black;
  transition: 0.5s;
}
.aboutC a:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.features {
  height: 700px;
  margin-top: 50px;
  width: 100%;
  background-color: rgb(255, 249, 236);
  display: flex;
  justify-content: space-between;
}
.fTitles {
  margin-left: 55px;
  margin-top: 55px;
  width: 450px;
}
.fTitles > h2 {
  font-size: 35px;
}
.fTitles > p {
  font-size: 16px;
}

.puzzle {
  position: relative;
  top: -45px;
  right: -20px;
  height: 200px;
}
.featureGrid {
  display: grid;
  height: 325px;
  width: 725px;
  grid-template-rows: 150px;
  grid-template-columns: 100px 125px;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas:
    "a a e e d d"
    "b b c c d d";
}
.featureGrid > div {
  background: white;
  transition: 0.1s;
  border: 1px solid lightgray;
}
.featureGrid > div > h3 {
  font-size: 20px;
  margin: 10px 20px;
}
.featureGrid > div > p {
  font-size: 14px;
  margin: 10px 20px;
}
.featureGrid > div:hover {
  box-shadow: -5px 6px 0px 0px rgb(3, 14, 112);
  transition: 0.1s ease-in;
  transform: translateX(5px) translateY(-5px);
}
.featureGrid :nth-child(1) {
  grid-area: a;
}
.featureGrid :nth-child(2) {
  grid-area: b;
}
.featureGrid :nth-child(3) {
  grid-area: c;
}
.featureGrid :nth-child(4) {
  grid-area: e;
}
.featureGrid :nth-child(5) {
  grid-area: d;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech > div {
  margin: 20px 0px;
}
.tech > div > img {
  margin: 0px 20px;
}
