.messageBar {
  background-color: #02001b;
  border-right: 1px solid rgba(54, 55, 59, 1);
  color: lightgrey;
  width: fit-content;
  overflow: hidden;
  height: 100%;
  width: 250px;
}
.messageBar > div > div {
  padding-left: 10px;
}
.messageBar .channels > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 4px;
}
.channels > div{
  display:flex;
  justify-content: space-between;
}
.channels > div > div{
  display:flex;
}
.channels div .fa-caret-down{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.channels div:hover {
  cursor: pointer;
}
.channels div > p {
  margin: 0px;
}
.channels i:hover {
  background-color: rgba(173, 173, 173, 0.8);
}
.side {
  transform: rotate(-90deg);
}
.title button {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  border: none;
  font-size: 15px;
}
.orgeditdiv {
  display: flex;
  flex-direction: column;
}

.title h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.editbutton {
  color: #4a154b;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 9px;
  border: 1px solid #000807;
  cursor: pointer;
  max-height: fit-content;
}

.editorgform input{
  height: 25px;
  border-radius: 5px;
}

.editorgform {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.orgeditdiv {
  margin-right: 10px;
}

.inputShow{
  display:none;
}
.channelContent{
  position:absolute;
  height:100%;
  overflow:scroll;
  scrollbar-color: white;
}
.height{
  height:40%;
}