.messageBar {
  position:relative;
  background-color: #1a1b20;
  border-right: 1px solid rgba(54, 55, 59, 1);
  color: lightgrey;
  width: fit-content;
  overflow: hidden;
  height: 100%;
}

.messageBar .channels > div {
  display: flex;
  margin-top: 4px;
}
.channels > div {
  display: flex;
  justify-content: space-between;
}
.channels > div > div {
  display: flex;
  align-items: center;
}
.channels div .fa-caret-down {
  display: flex;
  justify-content: center;
}
.channels div:hover {
  cursor: pointer;
}
.channels div > p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side {
  transform: rotate(-90deg);
}
.title button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
}
.orgeditdiv {
  display: flex;
  flex-direction: column;
}

.title h2 {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
@media only screen and (max-width: 600px) {
  .title h2 {
    max-width:150px;
  }
}
.editbutton {
  color: #4a154b;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 9px;
  border: 1px solid #000807;
  cursor: pointer;
  max-height: fit-content;
}

.editorgform input {
  height: 25px;
  border-radius: 5px;
}

.editorgform {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.orgeditdiv {
  margin-right: 10px;
}

.inputShow {
  display: none;
}
.channelContent {
  height: 100%;
  width: 250px;
  overflow: scroll;
  scrollbar-color: white;
  background-color:#24252c;
}
.height {
  height: 220px;
}
.addChannel {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
.isc{
  margin-right:5px;
}
fa-ellipsis-v{
  transform:rotate(90deg);
}
#e{
  margin:0px;
  margin-top:5px;
  margin-right:5px;
  flex-grow:0;
  transform:rotate(90deg);
  padding-left:0px;
  justify-content: center;
}
.singleChannel h3{
  margin:5px;
  margin-left:31px;
  font-size:15px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.cs{
  margin-left:10px;
}
.uc{
  position:absolute;
  width:100%;
}
.od{
  position: relative;
}
.hide{
  left:-100%;
}
.abs{
  position:absolute;
}
