.memberForm > div {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#memberButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  background-color: #2b2f35;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#memberButton button {
  margin: 15px;
  padding: 10px;
}
#memberButton p {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
}
#memberButton .cancel {
  background-color: transparent;
  border: none;
  color: rgb(137, 196, 219);
}
#memberButton .submit {
  background-color: rgb(100, 154, 175);
  border: none;
  border-radius: 5px;
}

.topBar > .backbuttoncontainer {
  display: flex;
  color: lightgrey;
  justify-content: flex-start;
  padding-left: 15px;
}


::-webkit-scrollbar-thumb {
  background-color: rgba(70, 67, 67, 0.432);
}
ul{
  padding:0px;
  margin:0px;
  overflow-y:scroll;
  height:275px;
}
ul > li {
  list-style: none;
  color: lightgrey;
  padding: 10px 0px;
  cursor: pointer;
  width: 100%;
  pointer-events: all;
}

ul > li:hover {
  cursor: pointer;
  background-color: rgb(100, 154, 175, 0.2);
  border-radius: 7px;
}
ul > li > button{
  padding:0px;
}
.namebutton {
  background-color: transparent;
  border: none;
  color: lightgrey;
  font-size: 16px;
}
.add{
  height:500px;
}
.highlight{
  background-color:skyblue;
}