.editChannelForm {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: #373942;
    z-index: 1;
    align-self: center;
    top: 100px;
    animation: createBox 0.25s;
}

.editChannelForm input {
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    background-color: #2b2f35;
    margin-top: 5px;
}

.editChannelForm h2 {
    text-align: center;
    margin: 20px;
}

.editChannelForm > div {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.editChannelFormTop {
    width: 92%;
    padding: 15px;
}
