.content{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    position:fixed;
    overflow:hidden;
}
.midContent1{
    display:flex;
    align-items:flex-start;
    height:100%;
}
.topBar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #11111d;
    width:100%;
    border-bottom: 1px solid rgba(54,55,59,1);
}
.topBar > input{
    background-color:#38373c;
    color:rgb(212, 212, 212);
    padding: 5px;
    margin: 5px;
    width:45%;
    border-radius:10px;
}
::placeholder{
    color:rgb(212, 212, 212);
}
input{
    border-color:transparent;
}
input:focus{
    outline:transparent;
}
.topBar > div{
    display:flex;
    color:#131017;
    justify-content:flex-end;
    padding-right:15px;
    flex-grow:1;

}

.title{
    border-bottom:1px solid rgba(54,55,59,1);
    display:flex;
    align-items:center;
    max-height: 51px;
    min-height: 51px;
}
.title h2{
    margin:10px;
}
.title div{
    display:flex;
    justify-content: flex-end;
    margin-right:20px;
    flex-grow:1;
}

.profile img{
    width:30px;
    height:30px;
    border-radius:5px;
    object-fit: cover;
}
.profMenu{
    position:absolute;
    height:300px;
    width:300px;
    background-color:#222529;
    top:39px;
    border-radius:5px;
    border: 1px solid #43464a;
    z-index:25;
}
.profMenu > button{
    border:none;
    background-color:transparent;
    color:white;
    margin:auto;
    width:100%;
}
.profMenu > button:hover{
    background-color:rgb(51, 148, 180);
}
.settings{
    display:none;
}
.title:hover {
    cursor: pointer;
    background-color: rgb(41, 36, 87);
}
