.messageArea{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color:#1b1d21;
    color:lightgrey;
    width:100%;
    height:100%;
}
.inputMessages{
    position:relative;
    background-color: #1b1d21;
    display:flex;
    bottom:0px;
    width:100%;
    height:50px;
    z-index:1;
}
.inputMessages input{
    color:white;
    margin:10px;
    width:100%;
    height:25px;
    background-color: #222529;
    border:1px solid #555856;
    border-radius:5px;
    
}
.inputMessages form{
    width:100%;
    height:50px;
    display:flex;
}
.s{
    width:5px;
}
.messages{
    overflow:scroll;
    overflow-x:hidden;
    position:relative;
    width:100%;
    flex: 1 1 auto;
}

.messages p{
    width: 100%;
}
.messages div{
    max-height: 100px;
    margin-left:10px;
}
.message{
    display:flex;
    align-items:flex-start;
    margin:15px;
}
.message img{
    margin-top:3px;
    width:40px;
    height:40px;
    border-radius:5px;
}
.message div p{
    margin:0px;
    width:100%;
    overflow-wrap:break-word;
}
.message div h3{
    margin:0px;
    margin-bottom:5px;
    font-size:15px;
}
.space{
    height:10px;
    width:25px;
}

.d{
    height:100%;
    position:absolute;
    background-color:transparent;
    width:5px;
    transition-property: background-color;
    transition-duration: 0.3s;
    z-index:2;
}
.d:hover{
    cursor:col-resize;
    background-color:skyblue;
}
.dSelect{
    cursor:col-resize;
    background-color:skyblue;
}

